.root {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
  gap: 1rem;
}
.title {
  color: var(--white);
}

.content {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}

.content_section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.content_section a {
  color: var(--blue);
}

.content_section ul {
  padding: 0 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.text_bold {
  font-weight: bold;
}

.text_good {
  color: var(--green);
}

.text_bad {
  color: var(--red);
}

.text_code {
  font-family: 'Consolas', monospace;
  
}

@media (prefers-color-scheme: dark) {
  .content {
    background-color: var(--grey);
    color: var(--white);
  }
}

@media (min-width: 769px){
  .root {
    padding: 2rem 25%;
  }
}