.pg_form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 1rem;
  gap: 2rem;
}

.text_input_label {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: .5rem;
}

.text_input_label input {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid black;
  font-family: 'Consolas', monospace;
}


.actions_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.length_label {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.length_number_input_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: .5rem;
}

.length_number_input {
  text-align: center;
  width: 60%;
  padding: 1rem;
}

.length_number_input:focus {
  outline: none;
}

.password_length_button {
  width: 20%;
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border: .2rem solid var(--blue);
  color: white;
  border-radius: 1rem;
}

.password_length_button_dec {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.password_length_button_inc {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider {
  width: 100%;
}

.button_primary {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: .2rem solid var(--blue);
  background-color: var(--blue);
  color: white;
  width: 45%;
  text-transform: uppercase;
  transition: all .2s;
}

.button_secondary {
  background-color: white;
  color: var(--blue);
  
}

.tab_section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: .5rem;
}

.tab_list_label {
  width: 100%;
}

.tab_buttons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tab_button {
  width: 50%;
  padding: 1rem;
  border: .2rem solid var(--blue);
  border-radius: 1rem;
  text-transform: uppercase;
  background-color: white;
  color: var(--blue);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}

.tab_button:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab_button:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab_button_selected {
  background-color: var(--blue);
  color: white;
}