.pg_form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: .2rem solid black;
  border: 0;
  padding: 2rem;
  border-radius: 1rem;
  gap: 2rem;
  background-color: white;
  box-shadow: var(--box-shadow);
}

.text_input_label {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: .5rem;
}

.password_generated {
  padding: 1rem;
  width: 100%;
  border-radius: 1rem;
  border: .2rem solid var(--blue);

  font-family: 'Consolas', monospace;
}


.actions_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.length_label {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.length_number_input_container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: .5rem;
}

.length_number_input {
  text-align: center;
  width: 60%;
  padding: 1rem;
  border: .2rem solid var(--blue);
}

.length_number_input:focus {
  outline: none;
}

.password_length_button {
  width: 20%;
  padding: 1rem 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border: .2rem solid var(--blue);
  color: white;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.password_length_button_dec {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.password_length_button_inc {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider {
  width: 100%;
  border-radius: 1rem;
}

.button_primary {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: .2rem solid var(--blue);
  background-color: var(--blue);
  color: white;
  width: 45%;
  text-transform: uppercase;
  transition: all .2s;
  box-shadow: var(--box-shadow);

}

.button_secondary {
  background-color: white;
  color: var(--blue);
  
}

.tab_section {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: .5rem;
}

.tab_list_label {
  width: 100%;
}

.tab_buttons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.tab_button {
  width: 50%;
  padding: 1rem;
  border: .2rem solid var(--blue);
  border-radius: 1rem;
  text-transform: uppercase;
  background-color: white;
  color: var(--blue);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}

.tab_button:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tab_button:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab_button_selected {
  background-color: var(--blue);
  color: white;
}

@media (prefers-color-scheme: dark) {
  .pg_form {
    background-color: var(--grey);
    color: white;
  }

  .password_generated {
    background-color: var(--grey);
    
    color: var(--white);
    border-color: var(--blue);
  }
  
  .button_secondary {
    background-color: var(--grey);
  }

  .password_length_button {
    background-color: var(--grey);
  }

  .length_number_input {
    background-color: var(--grey);
    color: var(--white);
  }

  .tab_button {
    color: var(--white);
    background-color: var(--grey);
  }
  
  .tab_button_selected {
    
    background-color: var(--blue);
  }

  

  
}