.simple_tab {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
}

.simple_tab_radio_label {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #ddd;
  padding-top: 2rem;
  gap: 1rem;
}

.simple_tab_radio_label a {
  color: var(--blue);
}
.recommended_text {
  font-size: 1.4rem;
}

.helper_text {
  width: 100%;
  color: #aaa;
  font-family: 'Consola', monospace;
  display: flex;
  flex-flow: row wrap;
  word-wrap: wrap;
}