.root {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
  gap: 1rem;
}

.title {
  color: var(--white);
}

.content {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 100%;
}

.content_section {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  .content {
    background-color: var(--grey);
    color: var(--white);
  }
}

@media (min-width: 769px){
  .root {
    padding: 2rem 25%;
  }
}