.home {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--blue);
}

.home_title {
  color: var(--white);
}

@media (prefers-color-scheme: dark) {
  .home {
    background-color: var(--black);
  }
}

@media(min-width: 769px){
  .home {
    padding: 2rem 25%;
  } 
}